<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="alert alert-info-light">
        修改跟进后，会同步刷新所属问题的最近跟进时间和当前状态。
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Issue_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-issue_id" data-rule="required" class="form-control selectpicker" name="row[issue_id]">
                {foreach name="issueList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.issue_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Visibility')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-visibility" data-rule="required" class="form-control selectpicker" name="row[visibility]">
                {foreach name="visibilityList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.visibility"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control" data-rule="required" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                {foreach name="statusList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.status"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Next_action')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-next_action" class="form-control" rows="3" name="row[next_action]" cols="50">{$row.next_action|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
