<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">供应商名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier_name" data-rule="required" class="form-control" name="row[supplier_name]" type="text" value="{$row.supplier_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">简称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-short_name" class="form-control" name="row[short_name]" type="text" value="{$row.short_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">供应商类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-category" data-rule="required" class="form-control selectpicker" name="row[category]">
                {foreach name="categoryList" item="vo" key="key"}
                <option value="{$key}" {eq name="row.category" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">供应商等级:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-level" data-rule="required" class="form-control selectpicker" name="row[level]">
                {foreach name="levelList" item="vo" key="key"}
                <option value="{$key}" {eq name="row.level" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">合作状态:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                {foreach name="statusList" item="vo" key="key"}
                <option value="{$key}" {eq name="row.status" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">结算周期:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-settlement_cycle" class="form-control selectpicker" name="row[settlement_cycle]">
                {foreach name="settlementCycleList" item="vo" key="key"}
                <option value="{$key}" {eq name="row.settlement_cycle" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系人:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_name" class="form-control" name="row[contact_name]" type="text" value="{$row.contact_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系电话:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_phone" class="form-control" name="row[contact_phone]" type="text" value="{$row.contact_phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">邮箱:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact_email" class="form-control" name="row[contact_email]" type="email" value="{$row.contact_email|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">城市:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city" class="form-control" name="row[city]" type="text" value="{$row.city|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">开户行:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_name" class="form-control" name="row[bank_name]" type="text" value="{$row.bank_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">银行账号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_account" class="form-control" name="row[bank_account]" type="text" value="{$row.bank_account|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">税号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tax_no" class="form-control" name="row[tax_no]" type="text" value="{$row.tax_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">负责人:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-owner_admin_id" data-rule="required" class="form-control selectpicker" data-live-search="true" name="row[owner_admin_id]">
                <option value="">请选择</option>
                {foreach name="ownerList" item="vo" key="key"}
                <option value="{$key}" {eq name="row.owner_admin_id" value="$key"}selected{/eq}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-notes" class="form-control" rows="4" name="row[notes]">{$row.notes|default=''}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">保存</button>
        </div>
    </div>
</form>
