<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_project_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-app_project_id" data-rule="required" class="form-control selectpicker" name="row[app_project_id]">
                <option value="">请选择</option>
                {foreach name="appProjectList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.app_project_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-category" data-rule="required" class="form-control selectpicker" name="row[category]">
                {foreach name="categoryList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.category"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Owner_admin_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-owner_admin_id" data-rule="required" class="form-control selectpicker" name="row[owner_admin_id]">
                <option value="">请选择</option>
                {foreach name="ownerAdminList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.owner_admin_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Version_tag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-version_tag" data-rule="required" class="form-control" name="row[version_tag]" type="text" value="{$row.version_tag|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Applicable_versions')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-applicable_versions" data-rule="required" class="form-control" name="row[applicable_versions]" type="text" value="{$row.applicable_versions|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expires_on')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expires_on" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[expires_on]" type="text" value="{$row.expires_on}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Archive_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {foreach name="archiveStatusList" item="vo"}
                <label for="row[archive_status]-{$key}"><input id="row[archive_status]-{$key}" name="row[archive_status]" type="radio" value="{$key}" {in name="key" value="$row.archive_status"}checked{/in} /> {$vo}</label>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Replacement_material_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-replacement_material_id" class="form-control selectpicker" name="row[replacement_material_id]">
                <option value="">请选择</option>
                {foreach name="materialList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.replacement_material_id"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Download_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-download_name" class="form-control" name="row[download_name]" type="text" value="{$row.download_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Download_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-download_url" class="form-control" name="row[download_url]" type="text" value="{$row.download_url|htmlentities}">
                <span class="input-group-btn">
                    <button type="button" id="faupload-download_url" class="btn btn-danger faupload" data-input-id="c-download_url" data-multiple="false"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                </span>
                <span class="input-group-btn">
                    <button type="button" id="fachoose-download_url" class="btn btn-primary fachoose" data-input-id="c-download_url" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button>
                </span>
            </div>
            <input id="c-file_path" name="row[file_path]" type="hidden" value="{$row.file_path|htmlentities}">
            <p class="help-block">已保存的资料链接可以直接修改，重新上传后保存即可更新。</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-notes" class="form-control" rows="4" name="row[notes]">{$row.notes|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
